// Colors variables
$color-red: #ff0000;
$color-green: #00ff00;
$color-blue: #0000ff;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #eeeeee;
$color-border: #3a3a3a;
$color-lavender: #e6e6fa;

// Fontsize variables
$font-min: 14px;
$font-medium: 16px;
$font-large: 30px;
